* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.bg-white {
  background-color: #fbfbfb;
}
.bg-blue {
  background-color: #6272f2;
}
.otp-code {
  width: 100%;
  height: 100vh;
}
.otp-code .row {
  width: 100%;
  height: 100%;
  display: flex;
}
.otp-code .row .col {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-code .row .col img {
  width: 600px;
}
.otp-code .row .col .title {
  width: 600px;
}
.otp-code .row .col .title h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
}
.otp-code .row .col .title p {
  font-size: 14px;
  font-weight: 300;
  color: gray;
}
.otp-code .row .col .title span {
  color: #6272f2;
  font-weight: 600;
  line-height: 30px;
}
.otp-code .row .col .title .row {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.otp-code .row .col .title .row .col {
  width: 60px;
  height: 60px;
}
.otp-code .row .col .title .row .col input {
  width: 100%;
  height: 100%;
  text-align: center;
  outline: none;
  border: 2px solid #5858ff;
  border-radius: 10px;
  background-color: #ebebff;
  font-size: 24px;
  font-weight: bold;
  color: blue;
}
.otp-code .row .col .title .btn {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.otp-code .row .col .title .btn .btn-flat {
  border: none;
  padding: 14px 0px;
  border-radius: 10px;
  background-color: #5858ff;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.otp-code .row .col .title .btn .btn-flat a {
  text-decoration: none;
  padding-left: 265px;
  font-size: 20px;
  color: #ebebff;
}
.otp-code .row .col .title .btn .btn-text {
  border: none;
  background-color: white;
  padding: 14px 0px;
  color: #5858ff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
